*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
body {
	width: 100%;
	color: #333;
}
ul {
	padding: 0;
	width: fit-content;
	margin: 0 auto;
}
li {
	list-style: none;
}
p {
	font-size: 1.4rem;
}
a {
	font-size: 1.4rem;
	color: #333;
	text-decoration: none;
}
.btn {
	display: inline-block;
	border-radius: 2px;
	padding: 5px 15px;
	background: #fca;
}
.btn.negative {
	background: #ddd;
}

/* ビデオ一覧
======================*/
.list-item {
	background: #efe;
	padding: 5px 10px;
	margin: 5px;
}
.list-item .item-ttl {
	font-size: 1.6rem;
	font-weight: bold;
}
.list-item .item-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
